<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="Choose.css" />
  <title>QuBitTraining</title>
  <link rel="website icon" type="png" href="media/logos/Design fără titlu (22).png">

</head>
<body>

    <div class="header">
        <a href="index.html">
            <div class="logo">
            <img src="media/logos/MaxiLogoTransparent.png">
        </div>
        </a>
    </div>
        
    <div class="main">
        <span>Choose your programming language</span>
            <div class="PL_container">
                <button id="buttonL1" class="butonL">C++</button>
                <button id="buttonL2" class="butonL">C#</button>
                <button id="buttonL3" class="butonL">Python</button>
                <button id="buttonL4" class="butonL">JavaScript</button>
                <button id="buttonL5" class="butonL">Java</button>        
            </div>

        <span>Choose your mode</span>
            <div class="Difficulty_container">
                <button id="buttonD1" class="butonD">Beginner</button>
                <button id="buttonD2" class="butonD">Intermediate</button>
                <button id="buttonD3" class="butonD">Advanced</button>
                <button id="buttonD4" class="butonD">Practice</button> 
            </div>

        <div id="GrayB">
            Get Started
        </div>
        <a href="Game.html">
            <div id="PurpleB">
                Get Started
            </div>
        </a>
    </div>
    
    <div class="footer">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScvHhy7gK4-bTNNODe_bOYi6EI4iBWydozX_Fr0Gw431A3YcA/viewform?usp=sf_link">
            <div class="feedback">
                <span>Feedback</span>
            </div>
        </a>  
            <div class="contact"> 
                <span>Contact Us</span>
                <span>qubitfeedback@gmail.com</span>
            </div>
            <div class="ig">
                <a href="https://www.instagram.com/qubit_training/"> <img src="media/logos/ig-logo.png"> </a> 
            </div>
    </div>

  <script src="Buttons.js"></script>

</body>
</html>