<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="Game.css" />
  <title>Document</title>
</head>
<body>

    <div class="header">
        <a href="index.html">
            <div class="logo">
            <img src="media/logos/MaxiLogoTransparent.png">
        </div>
        </a>
    </div>
        
    <div id="main">
        <div class="Bar">
            <div id="ProgressBar">
                <div class="step"></div>
                <div class="step"></div>
                <div class="step"></div>
                <div class="step"></div>
                <div class="step"></div>
                <div class="step"></div>
                <div class="step"></div>
                <div class="step"></div>
                <div class="step"></div>
                <div class="step"></div>
             </div>
        
             <span id="currentStep">0/10</span>
        
        </div>

        <p class="TextProblem">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque placeat tenetur aliquam, fuga iste illo repudiandae quisquam ea, ratione quia animi vel eaque suscipit maxime sed. Vero quos architecto consequuntur.
        </p>
        <form id="exerciseForm" autocomplete="off">
          <label for="exerciseAnswer"><span>Enter your answer:</span></label>
          <textarea id="exerciseAnswer" name="exerciseAnswer" rows="4" required></textarea>
          <div class="button-container">
            <div id="skip">
              <span>Skip</span>
            </div>
            <button id="submit" type="submit">Submit Answer</button>
          </div>
        </form>
    </div>

    <div id="finish">
        <div id="finishContainer">
            <p class="titlu">Lorem ipsum dolor sit, amet consectetur adipisicing elit!</p>
            <p class="scor">You scored <span id="yourscore"></span></p>
            <a href="index.html">
                <button>Return to homepage</button>
            </a>

        </div>
        
    </div>
    <div id="finish2">
        <div id="finishContainer">
            <p class="titlu">bsahufvgsv a fiusyfy dsyfuisdgf !!</p>
            <p class="scor">You scored 60 out of 100 points</p>
            <a href="index.html">
                <button>Return to homepage</button>
            </a>

        </div>
        
    </div>
    <div id="finish3">
        <div id="finishContainer">
            <p class="titlu">bsahufvgsv a fiusyfy dsyfuisdgf !!</p>
            <p class="scor">You scored 20 out of 100 points</p>
            <a href="index.html">
                <button>Return to homepage</button>
            </a>

        </div>
        
    </div>
    <div id="finish4">
        <div id="finishContainer">
            <p class="titlu">bsahufvgsv a fiusyfy dsyfuisdgf !!</p>
            <p class="scor">You scored 0 out of 100 points</p>
            <a href="index.html">
                <button>Return to homepage</button>
            </a>

        </div>
        
    </div>

    <div class="footer">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScvHhy7gK4-bTNNODe_bOYi6EI4iBWydozX_Fr0Gw431A3YcA/viewform?usp=sf_link">
            <div class="feedback">
                <span>Feedback</span>
            </div>
        </a>  
            <div class="contact"> 
                <span>Contact Us</span>
                <span>qubitfeedback@gmail.com</span>
            </div>
            <div class="ig">
                <a href="https://www.instagram.com/qubit_training/"> <img src="media/logos/ig-logo.png"> </a> 
            </div>
    </div>
 
  <script src="progres.js"></script>
  <script src="script.js"></script>

</body>
</html>