<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <title>QuBitTraining</title>
    <link rel="website icon" type="png" href="media/logos/Design fără titlu (22).png">

</head>
<body>
       
    <div class="header">
        <a href="index.html">
            <div class="logo">
            <img src="media/logos/MaxiLogoTransparent.png">
        </div>
        </a>
    </div>
    
    <div class="main">
        <div class="container">
            <span>This Website was made for</span>
            <img src="/media/logos/UHLogo.png">
            <span class="descriere">5th edition</span>
            <span class="quote"> For our 2023 UniHack project we decided to create QuBitTraing in which new and experienced programmers will be able to hone their skills and practice with unique and dynamically generated exercises made with AI </span>

                <a href="Choose.html">
                    <div class="buton">
                        <span>PLAY</span>
                    </div>
                </a>
            
        </div>
      </div>

    <footer class="footer">
        <div class="feedback">
           <a href="https://docs.google.com/forms/d/e/1FAIpQLScvHhy7gK4-bTNNODe_bOYi6EI4iBWydozX_Fr0Gw431A3YcA/viewform"> <span>Feedback</span> </a>
        </div>
        <div class="contact"> 
            <span>Contact Us</span>
            <span>QuBitFeedack@gmail.com</span>
        </div>
        <div class="ig">
            <a href="https://www.instagram.com/qubit_training/"><img src="media/logos/ig-logo.png"></a>
        </div>
    </footer>
</body>
</html>